.header {
    display: flex;
    justify-content:space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.boton {
    padding: 15px 36px;
}
.logo {
    border: 1px solid black;
    padding: 20px;
}
.activa {
    display:block;
}

.noactiva {
    display:none;
}
#botonlogout {
    text-decoration: none;
    color: white;
}
#botonCuenta {
    text-decoration: none;
    color: white;
}
.oculto {
    display: none !important;
}